*pbxproj
*.xcodeproj
*.xcworkspace
*.xcuserstate
community.xcodeproj/project.xcworkspace/xcuserdata/evanboyle.xcuserdatad/UserInterfaceState.xcuserstate
community.xcodeproj/xcuserdata/evanboyle.xcuserdatad/xcschemes/xcschememanagement.plist
*.pbxproj
community.xcodeproj/project.xcworkspace/xcuserdata/evanboyle.xcuserdatad/UserInterfaceState.xcuserstate
community.xcodeproj/xcuserdata/evanboyle.xcuserdatad/xcschemes/xcschememanagement.plist